.prc-notice {
    border-left: 4px solid #ffba00;
    background-color: #fff8e5;
    padding: 10px 12px;
    margin: 5px 0 15px;
    font-size: 14px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: none;
}
.prc-notice h3 {
    margin-top: 0;
    color: #826200;
}
.prc-notice::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff8e5;
}

/* Style for highlighting the missing plugin row */
tr.inactive.prc-highlight-missing,
tr.active.prc-highlight-missing {
    background-color: #fff8e5 !important; /* Use !important to override default styles */
}

/* Make File Missing text bold and red */
span.error {
    font-weight: bold !important;
    color: #dc3232 !important;
}
